/* Colors */

body {
  background-color: #333;
}

/* Text stuff */

* {
  font-family: Arial, Helvetica, sans-serif;
  color: #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h3 {
  text-align: center;
}

/* Input stuff */

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

#user-inputs {
  margin: 0 25px;
}

.input-section {
  border: solid #555 3px;
  border-radius: 15px;
  width: 720px;
  margin: 0 auto 40px;
  padding: 25px 20px 5px;
  position: relative;
}

.input-section > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.5em 0;
  min-height: 1.4em;
}

.input-section > .section-header {
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  top: -1.5em;
  padding: 0 0.3em;
  margin: 0.7em 0 0.7em 1.5em;
  font-size: 1.4em;
  background-color: #333;
}

.input-section > div > div {
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 2em;
}

.input-section > div > div:last-of-type {
  margin-right: 0;
}

input,
input:focus {
  text-align: center;
  margin: 0 0.3em;
  background: none;
  border: none;
  border-bottom: solid 1px;
}

input.long {
  width: 6em;
}

input.short {
  width: 2.5em;
}

button {
  border: solid 2px #222;
  background: #555;
  border-radius: 6px;
  padding: 0.3em 0.7em;
  cursor: pointer;
  margin: 0 auto;
  display: block;
}

/* Chart stuff */

#hit-distribution > svg {
  display: block;
  margin: 0 auto;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;  
}
 
path {
    stroke-width: 2;
    fill: none;
}

text {
  fill: #ccc;
}
 
.line {
  fill: none;
}

.hide {
  opacity: 0;
}

#distribution-line {
  stroke-width: 5px;
  stroke: #2c6885;
}

#confidence-line {
  stroke-width: 2px;
  stroke: #d1503d;
}

/* footer */

#footer {
  margin: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
}

#footer div:last-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer img {
  height: 1.5em;
  margin: 0 0.5em
}

a, a:visited {
  color: #eee;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Tooltips */

.tooltip {
  visibility: hidden;
  opacity: 0;
  background-color: #222;
  position: absolute;
  display: inline-block;
  padding: 0.2em 0.5em;
  -webkit-transition: 300ms !important;
  -o-transition: 300ms !important;
  transition: 300ms !important;
  border: solid 2px #999;
  border-radius: 6px;
  width: 250px;
  text-align: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  z-index: 20;
}

.tooltip.right {
  left: 90%;
}

.tooltip.left {
  right: 90%;
}

.tooltip.top {
  bottom: 105%;
}

.tooltip.bottom {
  top: 105%;
}

.has-tooltip {
  position: relative;
  overflow: visible;
}

.has-tooltip::after {
  content: "*";
}

.has-tooltip:hover > .tooltip {
  visibility: visible;
  opacity: 1;
  z-index: 10;
}

/* Description */

#toggle-description {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: fixed;
  top: 5px;
  right: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 2em;
  padding: 0.05em 0.3em;
  border: solid #555 3px;
  border-radius: 1em;
  cursor: pointer;
}

#description
{
  position: fixed;
  top: 60px;
  right: -360px;
  width: 360px;
  padding: 10px 30px 10px 15px;
  background-color: #333;
  border: solid #555 3px;
  border-radius: 15px;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

ol {
  padding-left: 20px;
}

.num {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: #d1503d;
}